body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

.block {
    padding: 30px;
    margin: 50px;
}

/* ====================================================== */

.block {
    box-shadow: 10px 15px 10px 10px blue, -10px -15px 10px 10px pink;
    border-radius: 30px;
}

.inline {
}

.img {
    box-shadow: 10px 15px 10px 10px blue;
}